ul {
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    gap: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #f9faf8;
}

button {
    color: white;
    padding: 5px 20px;
    border-radius: 4px;
    border: none;
    background: #3882F6;
}

.img {
    background: #e5e7eb;
    padding: 100px 120px;
    color: #f9faf8;
}

.hero-content {
    display: flex;
    justify-content: space-between;
}

.dark-content {
    margin: 0px 150px;
}

.hero-left {
    max-width: 380px;
}

.header.links {
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0px;
}

.hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0px;
    margin-bottom: 10px;
}